fastapi
uvicorn
python-multipart
jinja2
python-dotenv
requests
pymongo
qdrant-client
sqlalchemy
sentence-transformers
langchain-text-splitters
google-generativeai
sherpa-onnx
soundfile
numpy
moviepy
beautifulsoup4
browser-cookie3
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
grpcio==1.68.1
grpcio-tools==1.68.1
bcrypt

# Video Download
yt-dlp
aiofiles

# OCR Dependencies
pytesseract
Pillow
scikit-image>=0.21.0